<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hnmn3.mechanic.optimist.mvideostreamer">

    //Permission required to fetch video from server and to generate symmetric keys
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        //Required for LibMedia library
        <meta-data
            android:name="fr.maxcom.libmedia.apiKey"
            android:value="@string/API_KEY" />

        //this activity is used to get Video URL and Key to decrypt the video while streaming
        <activity android:name=".FetchingVideoData">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        //Activity containing VideoView for video streaming
        <activity android:name=".MainActivity"/>
    </application>

</manifest>